/* ---------Стилі для index.html ---------------*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --main-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --main-bgrnd-color: #ffffff;
  --additional-background-color: #f4f4fd;
  --accent-page-color: #404bbf;
  --footer-text-color: #e7e9fc;
}
body {
  margin: 0 auto;

  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.body .body {
  color: var(--main-text-color);
  background-color: var(--main-bgrnd-color);
}

/*------------------------ Header----------------------- */
/*-------------- Логотип компанії ------------*/
.page-header {
  border-bottom: 1px solid var(--footer-text-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Шрифти */

/* Logo  Web та Studio */

.link-logo,
.link-header-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}
.link-logo {
  color: var(--title-text-color);
  text-decoration: none;
}
.item-list {
  color: var(--title-text-color);
  text-decoration: none;
}
.navigation .link-logo {
  color: var(--accent-color);
}

.site-nav .link-logo-item {
  color: var(--accent-color);
}

/*-------------------- Main nav----------------- */
.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link-header-studio,
.link-logo-item {
  color: var(--title-text-color);
}
/* -----------------------Contacts------------------------- */
.main-address {
  display: flex;
}

.contact {
  display: flex;
}
.contact .contacts + .contacts {
  margin-left: 40px;
}
.contact .contacts {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* .navigation .site-nav .item-list.current {
  color: var(--accent-page-color);
} */
/* ----------------Навігація---------------- */
.navigation {
  color: var(--title-text-color);
}
.site-nav,
.link-contact,
.link.current {
  color: var(--accent-page-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav .link .item-list.current {
  color: var(--title-text-color);
}
.navigation .site-nav .link.current {
  color: var(--accent-color);
}
.adress-list .link-contact {
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  font-style: normal;
}
.adress-list {
  font-style: normal;
}

.site-nav .item-list {
  color: var(--title-text-color);
}
.site-nav .item-list {
  text-decoration: none;
}
.item-list:hover,
.item-list:focus {
  color: var(--accent-page-color);
}

/*---------------- Contacts--------------- */
.contacts {
  padding: 0;
  width: auto;
}
.contact .link-contact {
  color: var(--main-text-color);
}
.contact .link-contact:hover,
.contact .link-contact:focus {
  color: var(--accent-page-color);
}
/* --------------Main ---------*/
/* -----------Hero--------- */

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;

  color: var(--main-bgrnd-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background-color: var(--title-text-color);
}

/* -------------------Button-------------- */
.button-hero {
  padding: 16px 32px;
  min-width: 169px;

  color: var(--main-bgrnd-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;

  border: 1px solid transparent;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--accent-page-color);
}
/* ----------------SECTION 2 -переваги  */

.section-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.section-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--main-text-color);
  letter-spacing: 0.02em;
}
/* section-subject */
.section {
  color: var(--title-text-color);
  padding-top: 120px;
}

.section-subject {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* ----------------Team----------- */
.team {
  background-color: var(--additional-background-color);
}

.section .section-caption {
  margin-top: 32px;
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-text {
  margin-top: 0;
  margin-bottom: 32px;

  color: var(--main-text-color);
  font-weight: 400;
  letter-spacing: 0.02em;
}

/*-------- Стилі для portfolio.html--------- */

.section-item .list {
  color: var(--main-bgrnd-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  width: 126px;
  height: 48px;
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
  cursor: pointer;
}

/* -----------------Buttons------------ */
.button-hero:hover,
.button-hero:focus {
  background-color: var(--accent-page-color);
}
.btn-item {
  padding: 12px 24px;

  color: var(--accent-color);
  background-color: var(--additional-background-color);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--footer-text-color);
}
.link {
  text-decoration: none;
}
.btn-item:hover,
.btn-item:focus {
  color: var(--main-bgrnd-color);
  background-color: var(--accent-page-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid transparent;
}
.list {
  list-style: none;
}

.item-list {
  text-decoration: none;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-list .portfolio-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------ Footer ---------------*/
.footer {
  background-color: var(--title-text-color);
}
.footer .link-footer {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo .link-footer {
  display: block;
  margin-bottom: 16px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}
.footer-studio {
  color: var(--additional-background-color);
}

.footer .footer-text {
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}
